.main-header{
    /*background-image: linear-gradient(black, white);*/
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
    margin: 0 auto;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 .5em;
    text-align: center;
}
.main-nav li {
    display: inline;
    
}

.main-nav a {
	display: inline-block;
    padding: .5em 1.5em;
    color: white;
}

@media (max-width: 768px){
    .grid-container{
        background-color: yellow;
    }
}

.grid-container{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto; 
    grid-template-rows: auto auto; 
}

.grid-container title{
    grid-column: 1;
    grid-row: 1;
}

.title{
    animation-name: aparecer;
    animation-duration: 3s;
}

@keyframes aparecer{
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}

.grid-container video{
    grid-column: 1;
    grid-row: 2;
}


p {
    font-family: 'Goldman', cursive;
}

/*
h1 {
    font-family: 'Xanh Mono', monospace;
}
*/

.articulo__izquierda{
    width: 100%;
    border: 5px;
    padding: 5px;
    margin: 10px;
}

.img-der{
    width: 40%;
    border: 3px dashed;
    margin: 10px;
    padding: 10px;
    float: right;
    transform: skew(2deg, -2deg);
}

.articulo__derecha{
    width: 100%;
    border: 5px;
    padding: 5px;
    margin: 10px;
    float: right;
    display: block;
}

.img-izq{
    width: 40%;
    border: 3px dashed;
    margin: 10px;
    padding: 10px;
    float: left;
    transform: skew(-2deg, 2deg);
}

.carousel-inner img {
    margin: auto;
  }


.pie{
    background-color:#1c1c1c;
    /* background-image: linear-gradient(to top, black, white);    */
}
